<configuration>
    <contextListener class="com.ofpay.logback.TtlMdcListener"/>

    <conversionRule conversionWord="logColor" converterClass="com.springboot.tool.web.util.LogColor"/>

    <property name="log.level.info" value="DEBUG"/>
    <property name="tool.log.root" value="/home/www/logs/boot-tool"/>
    <property name="pattern" value="%d %logColor(%p) [%t] %blue(%c{2}) %X{traceId} - %m%n"/>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log.level.info}</level>
        </filter>
        <file>${tool.log.root}/tool.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${tool.log.root}/tool.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>15</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${tool.log.root}/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${tool.log.root}/sql.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>15</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${tool.log.root}/tool.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${tool.log.root}/tool.error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${tool.log.root}/tool.warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${tool.log.root}/tool.warn.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>


    <logger name="com.springboot.tool.core.config.SqlPrintInterceptor" level="${log.level.info}" additivity="false">
        <appender-ref ref="SQL"/>
    </logger>


    <root level="DEBUG">
        <appender-ref ref="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
